$zendesk-green: #78A300;
$zendesk-blue: rgb(26, 116, 176);

@mixin rotate($deg) {
  -webkit-transform:rotate($deg);
  -moz-transform:rotate($deg);
  -ms-transform:rotate($deg);
  -o-transform:rotate($deg);
  transform:rotate($deg);
}

@mixin background-gradient($position, $stop1, $stop2) {
  background-image: -o-linear-gradient($position, $stop1, $stop2);
  background-image: -moz-linear-gradient($position, $stop1, $stop2);
  background-image: -webkit-linear-gradient($position, $stop1, $stop2);
  background-image: -ms-linear-gradient($position, $stop1, $stop2);
  background-image: linear-gradient($position, $stop1, $stop2);
}


@font-face {
  font-family: 'DNLTR';
  src: url('../assets/fonts/226cca47a6a41d745725a674072efac9.eot');
  src: url('../assets/fonts/226cca47a6a41d745725a674072efac9.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/226cca47a6a41d745725a674072efac9.woff') format('woff'),
       url('../assets/fonts/226cca47a6a41d745725a674072efac9.ttf') format('truetype'),
       url('../assets/fonts/226cca47a6a41d745725a674072efac9.svg#wf') format('svg');
}

@font-face {
  font-family: 'DNLTM';
  src: url('../assets/fonts/50e4987ced5d5ab91dbd851dd3ed00ce.eot');
  src: url('../assets/fonts/50e4987ced5d5ab91dbd851dd3ed00ce.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/50e4987ced5d5ab91dbd851dd3ed00ce.woff') format('woff'),
       url('../assets/fonts/50e4987ced5d5ab91dbd851dd3ed00ce.ttf') format('truetype'),
       url('../assets/fonts/50e4987ced5d5ab91dbd851dd3ed00ce.svg#wf') format('svg');
}

@font-face {
  font-family: 'DNLTB';
  src: url('../assets/fonts/4595fdd135f25b7a9da20957ba413fed.eot');
  src: url('../assets/fonts/4595fdd135f25b7a9da20957ba413fed.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/4595fdd135f25b7a9da20957ba413fed.woff') format('woff'),
       url('../assets/fonts/4595fdd135f25b7a9da20957ba413fed.ttf') format('truetype'),
       url('../assets/fonts/4595fdd135f25b7a9da20957ba413fed.svg#wf') format('svg');
}

@font-face {
  font-family: 'DNLTL';
  src: url('../assets/fonts/76f378d03fd8c30d4b289cd3fdf308ec.eot');
  src: url('../assets/fonts/76f378d03fd8c30d4b289cd3fdf308ec.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/76f378d03fd8c30d4b289cd3fdf308ec.woff') format('woff'),
       url('../assets/fonts/76f378d03fd8c30d4b289cd3fdf308ec.ttf') format('truetype'),
       url('../assets/fonts/76f378d03fd8c30d4b289cd3fdf308ec.svg#wf') format('svg');
}

@font-face {
  font-family: 'DNLTUL';
  src: url('../assets/fonts/167170258036a12dea168d1c85ba28cf.eot');
  src: url('../assets/fonts/167170258036a12dea168d1c85ba28cf.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/167170258036a12dea168d1c85ba28cf.woff') format('woff'),
       url('../assets/fonts/167170258036a12dea168d1c85ba28cf.ttf') format('truetype'),
       url('../assets/fonts/167170258036a12dea168d1c85ba28cf.svg#wf') format('svg');
}

/* FF DIN Round Web ==================== */
@font-face {
  font-family: 'DNRR';
  src: url('../assets/fonts/DINRoundWeb.eot');
  src: url('../assets/fonts/DINRoundWeb.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/DINRoundWeb.woff') format('woff');
}

@font-face {
  font-family: 'DNRL';
  src: url('../assets/fonts/DINRoundWeb-Light.eot');
  src: url('../assets/fonts/DINRoundWeb-Light.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/DINRoundWeb-Light.woff') format('woff');
}

@font-face {
  font-family: 'DNRB';
  src: url('../assets/fonts/DINRoundWeb-Bold.eot');
  src: url('../assets/fonts/DINRoundWeb-Bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/DINRoundWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'DNRM';
  src: url('../assets/fonts/DINRoundWeb-Medium.eot');
  src: url('../assets/fonts/DINRoundWeb-Medium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/DINRoundWeb-Medium.woff') format('woff');
}

/* FF DIN Italics ==================== */

@font-face {
  font-family: 'DNLTRI';
  src: url('../assets/fonts/9a9ab207e67efac6a7ddd286625d5f9b.eot');
  src: url('../assets/fonts/9a9ab207e67efac6a7ddd286625d5f9b.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/9a9ab207e67efac6a7ddd286625d5f9b.woff') format('woff'),
       url('../assets/fonts/9a9ab207e67efac6a7ddd286625d5f9b.ttf') format('truetype'),
       url('../assets/fonts/9a9ab207e67efac6a7ddd286625d5f9b.svg#wf') format('svg');
}

@font-face {
  font-family: 'DNLTLI';
  src: url('../assets/fonts/14BEC5_5.eot');
  src: url('../assets/fonts/14BEC5_5.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/14BEC5_5.woff') format('woff'),
       url('../assets/fonts/14BEC5_5.ttf') format('truetype'),
       url('../assets/fonts/14BEC5_5.svg#wf') format('svg');
}



.deck-container {
  color: #555;
  font-family: DNRR, sans-serif;
  font-size: 2.6em;
  background: #f9f9f9;
  padding: 0;


  .slide {

    padding: 40px !important;
    border-left: 40px solid $zendesk-green;

    .main {

      font-family: DNRM, sans-serif;
      font-size: 2.6em;

      .tagline {
        font-family: DNRL, sans-serif;
        font-size: 0.4em;
        letter-spacing: .1em;
      }
    }

    pre {
      border-radius: 10px;
    }

    code {
      font-family: "Lucida Console";
    }

    blockquote {
      /*font-size: 2em;*/
      padding: 1em 2em;
      color: #272727;

      p {
        margin: 0;
        & + p { margin-top: 1em; }
      }

      cite {
        font-size:.5em;
        font-weight: normal;
        color:#888;
        display: block;

        &::before{ content: "- "; }
      }
    }

    ::-moz-selection{ background:#c00; color:#fff; }
    ::selection { background: $zendesk-green; color:#fff; }

    a {
      &, &:hover, &:focus, &:active, &:visited {
        color: $zendesk-blue;
        text-decoration:none;
      }

      &:hover, &:focus {
        text-decoration:underline;
      }
    }

    .badge {
      @include rotate(45deg);

      display: block;
      font-size: 18px;
      padding: 10px 100px;
      position: absolute;
      right: -110px;
      text-align: center;
      top: 50px;
      width: 150px;

      &.black {
        background: #343434;
        @include background-gradient(left, rgb(33,33,33) 0%, rgb(69,69,69) 100%);
      }

      &.orange {
        background: rgb(195,81,22);
      }

      &.green {
        background: $zendesk-green;
        color: white;
        font-weight: bold;
      }
    }

    figure {
      text-align: center;
      figcaption { color: #888; font-size: 85%; }
    }
  }

  > .slide {
    overflow: hidden;
    padding: 10px 35px;

    .deck-before, .deck-previous {
      opacity:0.4;

      &:not(.deck-child-current) {
        .deck-before, .deck-previous {
          opacity:1;
        }
      }
    }

    .deck-child-current {
      opacity:1;
    }

    &.chapter {
      color: $zendesk-green;

      &.green {
        background: $zendesk-green;

        &, &.deck-current ~ .deck-status, code, pre { color: #f8f8f8; }
      }
    }

    header {
      color: #7d7d7d;
      background: transparent url("../assets/grey_lotus.svg") top right no-repeat;
      background-size: 85px;
      border-bottom: 5px solid $zendesk-green;
      font-size: 50px;
      font-weight: 200;
      height: 80px;
      letter-spacing: -3px;
      padding-top: 5px;
    }

    h1 cite {
      display: block;
      font-size: 0.25em;
    }

    h3 { font-size: 2.5em; }

    p, ol, ul { margin-top: 1em; font-size: 1.5em; }

    img, iframe, video { max-height: 100%; }
  }

  .minor {
    font-size: 0.6em;
  }

  .deck-status {
    font-size: 0.5em
  }

  .deck-prev-link, .deck-next-link {
    background:#ccc;
    font-family:serif; // sans-serif arrows x-browser fail

    &, &:hover, &:focus, &:active, &:visited {
      color:#fff;
    }

    &:hover, &:focus {
      background:#c00;
      text-decoration:none;
    }
  }

  .deck-status {
    bottom: 15px;
    right: 15px;
  }

  &.deck-menu {
    .slide {
      background:#eee;
    }

    .deck-current, .no-touch & .slide:hover {
      background:#ddf;
    }
  }

  .slide .slide.incremental {
    &.deck-next, &.deck-after { display: none; }
  }
}

.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide {
  padding: 10px 35px;
}
